<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>


<h2>Layout: Tabs</h2>

<mat-tab-group>
  <mat-tab label="One">
    <h1>First tab</h1>
    <p>Some content</p>
  </mat-tab>
  <mat-tab label="Two">
    <h1>Second tab</h1>
    <p>Some more content</p>
  </mat-tab>
</mat-tab-group>


<h2>More Complex Tab Example</h2>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      The <em>best</em> pasta
    </ng-template>
    <h1>Best pasta restaurants</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>thumb_down</mat-icon> The worst sushi
    </ng-template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>




<h2>Tab Navigation</h2>


<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<!-- <nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="/abc"
     routerLinkActive="active">
     abc
  </a>
</nav> -->

<router-outlet></router-outlet>
